.plant-show {
  height: 350px;
  width: 80%;
  border-radius: 2px;
  background-size: cover !important;
  background-position: center;
  border: 1 solid rgba(0,0,0,0.4);
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.plant-description{
  margin-top: 10vh;
}

.plant-booking {
  margin-bottom: 20px;
}

#map {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

p {
  font-size: 20px;
}

#map {
  margin-top: 30px;
  a {
    text-decoration: none;
  }
}

.datepicker {
  width: 250px;
  cursor: pointer;
}

.btn-book {
  .btn {
    width: 250px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(77, 165, 88, 0.7);
    &:hover {
      background-color: rgba(77, 165, 88, 1);
    }
  }
}

h3 {
  text-align: center;
}

#date-label {
  font-weight: bold;
  font-size: 20px;
}

.cost-info {
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  margin: 0px;
}

.photo_markers {
  height: 80px;
  width: 80px;
  text-align: center;
}
