.plant-show {
  height: 350px;
  width: 80%;
  border-radius: 2px;
  background-size: cover !important;
  background-position: center;
  border: 1 solid rgba(0,0,0,0.4);
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.plant-description{
  margin-top: 10vh;
}

#map {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

p {
  font-size: 20px;
}

.plant-booking {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
