.plant-banner {
  background-size: cover;
  height: 380px;
  color: #eee;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: 0px -300px;
}
