<div class="container">
  <h1 class="text-center">Netflix and dill</h1>
  <br>
  <h2 class="text-center">Website in development!</h2>
  <%= image_tag 'cactus.jpg', height:"400px", class:"center-block" %>
</div>

